[project]
name = "cards"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "lilydu", email = "lilydu+odspmdb@microsoft.com" }
]
requires-python = ">=3.13"
dependencies = [
    "coverage>=7.8.0",
    "pytest>=8.3.5",
    "ruff>=0.11.5",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
