# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: "Build, Lint & Test"

on:
  pull_request:
    paths:
      - packages/**
  push:
    branches: ["main"]
    paths:
      - packages/**

# Declare default permissions as read only.
permissions: read-all

jobs:
  build-lint-test:
    name: Build, Lint & Test
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      id-token: write
      security-events: read
      checks: write
      pull-requests: write

    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Install nbgv
        run: dotnet tool install -g nbgv

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install Python and dependencies
        run: |
          uv python install ${{ matrix.python-version }}
          uv python list
          uv run python --version
          uv sync --frozen --all-packages --group dev

      - name: Lint (Ruff)
        uses: astral-sh/ruff-action@d0a0e814ec17e92d33be7d24dd922b479f1bcd38 # v1.1.1
        with:
          args: check

      - name: Format (Ruff)
        uses: astral-sh/ruff-action@d0a0e814ec17e92d33be7d24dd922b479f1bcd38 # v1.1.1
        with:
          args: "format"

      - name: Type Check (PyRight)
        run: |
          source .venv/bin/activate  # Execute script in current shell to use virtual environment
          pyright

      - name: Run Tests
        run: |
          source .venv/bin/activate
          pytest packages
